<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PetStoreSuite">
	<listners>
		<listner class-name="api.utilities.ExtentReportManager"/>
	</listners>
	<test name="PetStoreUser">
		<classes>
			<!-- <class name="api.test.DDUserTest" /> -->
			<!--  class name="api.test.UserTest" /-->
			<class name="api.test.UserTest2" />
		</classes>
	</test> <!-- PetStoreUser -->
</suite> <!-- PetStoreSuite -->
